registry=https://pkgs.dev.azure.com/VizCentric/_packaging/flair-notifications/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/16/2019.
; begin auth token
//pkgs.dev.azure.com/VizCentric/_packaging/flair-notifications/npm/registry/:username=flair-notifications
//pkgs.dev.azure.com/VizCentric/_packaging/flair-notifications/npm/registry/:_password=cmluY3RrZ3AzcHM1NDR4d2R6dmIyeTZkdnpzaDdkejJvdDRqeWJxejUyZW9kY3ZsNHl0YQ==
//pkgs.dev.azure.com/VizCentric/_packaging/flair-notifications/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/VizCentric/_packaging/flair-notifications/npm/:username=flair-notifications
//pkgs.dev.azure.com/VizCentric/_packaging/flair-notifications/npm/:_password=cmluY3RrZ3AzcHM1NDR4d2R6dmIyeTZkdnpzaDdkejJvdDRqeWJxejUyZW9kY3ZsNHl0YQ==
//pkgs.dev.azure.com/VizCentric/_packaging/flair-notifications/npm/:email=npm requires email to be set but doesn't use the value
; end auth token